body {
    font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, "sans-serif";
    background-color: #eae2b7;
  color: #003049;
    padding: 40px;
    
 }

/*header, nav, and headings should be centered. text and lists should be left aligned. pictures in portfolio should be centered.*/

header {
  text-align: center;
  }


h1 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

h2 {
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

nav {
  text-align: center;
    font-size: 14px;
  }

a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}
/*-- section needs to stay left, but images need to be centered*/

section {
text-align: left;
}

ol {
 list-style-position: inside;
}

li {
    text-align: left;
     }

ul {
  list-style-position: inside;
}

p {
  line-height: 1.5;
}

 div {
  margin: auto;
  width: 600px;
}

.images {
    text-align: center;
}

img {
  width: 99%;
   max-width: 200px;
  height: auto;
}

hr {
  border: 1px solid black;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.image-circle {
  border-radius: 50%;
  border: 2px solid #003049;
}

footer {
    text-align: center;
    font-size: 10px;
}
