body {
    font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, "sans-serif";
    background-color: #eae2b7;
  color: #003049;
    padding: 40px;
    
 }

/*header, nav, and headings should be centered. text and lists should be left aligned. pictures in portfolio should be centered.*/

header {
  text-align: center;
  }


h1 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

h2 {
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

nav {
  text-align: center;
  }

a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

section {
text-align: center;
}

ol {
 list-style-position: inside;
}

li {
    text-align: center;
     }

ul {
  list-style-position: inside;
}

p {
  line-height: 1.5;
}
/*commenting out div 1, div 2 for now
.div-1 {
   text-align: center;
   list-style-position: inside;
  margin: auto;
}

.div-2 {
  text-align: left;
  margin: auto;
}
*/
 div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
   max-width: 200px;
  height: auto;
}

hr {
  border: 1px solid black;
}

.image-circle {
  border-radius: 50%;
  border: 2px solid #003049;
}
